<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>洋食喫茶　アドロック</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
    <!-- <div class="drink">
        <div class="drink-text">
            <h2>Have a Great</h2>
            <h2><span>Coffee</span> and <span>Dishes</span></h2>
        </div>
    </div>     -->
    <!-- Header Area -->
    <div class="nav">
        <h1>洋食喫茶　アドロック</h1>
        <h3>Restaurant & Cafe</h3>
        <ul class="nav-links">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="#">Concept</a>
            </li>
            <li>
                <a href="beverage.html">Drink Menu</a>
            </li>
            <li>
                <a href="foods.html">Food Menu</a>
            </li>
            <!-- <li>
                <a href="contact.html">Contact Us</a>
            </li>           
        </ul> -->
    </div>   
<!-- Beverage -->
        <div class="bevmenu">      
            <h1>Drink Menu</h1>
            <!-- <hr> -->
            <div class="coffee">
                <img src="../img/bev02.jpg" alt="coffee">
                <h2>Coffee</h2>
                <hr>
                <table>
                    <tr>
                        <th>Brend(HOT/ICED)</th>
                            <td>￥＊＊＊</td>                           
                    </tr>
                    <tr>
                        <th>American</th>
                            <td>￥＊＊＊</td>                            
                    </tr>
                    <tr>
                        <th>Espresso</th>
                            <td>￥＊＊＊</td>
                    </tr>
                    <tr>
                        <th>Caffe Latte(HOT/ICED)</th>
                            <td>￥＊＊＊</td>
                    </tr>
                    <tr>
                        <th>Caffe Mocha</th>
                            <td>￥＊＊＊</td>
                    </tr>
                    <tr>
                        <th>Flavor Latte(Caramel/Vanilla/Hazelnut)</th>
                            <td>￥＊＊＊</td>
                    </tr>
                    
                </table>
               
            </div>
            <div class="alcohol">
                <img src="../img/wine.jpg" alt="alcohol">
                <h2>Alcohol</h2>
                <hr>
                <table>
                    <tr>
                        <th>Beer</th>
                            <td>￥＊＊＊</td>                           
                    </tr>
                    <tr>
                        <th>Glass Wine(Red/White)</th>
                            <td>￥＊＊＊</td>                            
                    </tr>
                    <tr>
                        <th>Wiskey</th>
                            <td>￥＊＊＊</td>
                    </tr>
                    <tr>
                        <th>Cocktail</th>
                            <td>￥＊＊＊</td>
                    </tr>
                </table>                
            </div>
            <div class="softdrink">
                <img src="../img/juice.jpg" alt="juice">
                <h2>Soft Drink</h2>
                <hr>
                <table>
                    <tr>
                        <th>Mix Juice</th>
                            <td>￥＊＊＊</td>                           
                    </tr>
                    <tr>
                        <th>Lemonade</th>
                            <td>￥＊＊＊</td>                            
                    </tr>
                    <tr>
                        <th>Ginger Ale</th>
                            <td>￥＊＊＊</td>
                    </tr>
                    <tr>
                        <th>Cola</th>
                            <td>￥＊＊＊</td>
                    </tr>
                    <tr>
                        <th>Tea</th>
                            <td>￥＊＊＊</td>
                    </tr>
                    <tr>
                        <th>Hot Milk</th>
                            <td>￥＊＊＊</td>
                    </tr>
                </table>
            </div>
        </div>

    <div class="footer">
        <hr>
        <h2>LOCATION</h2>
        <div class="location">
            <p>〒703-8265</p>
            <p>岡山県岡山市中区倉田691-3</p>
            <p>TEL:086-206-7755</p>
            <p>11:00 - 18:00(L.O. 17:30)</p>
            <p>不定休</p>
            <a href="http://instagram.com/yk_addlock?igshid=1rlmk6xr5yrfo" class="fab fa-instagram"></a>
        </div>

    </div>

