<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>洋食喫茶　アドロック</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
    <!-- Banner Area -->
    <div class="banner">
        <div class="banner-text">
            <h2>Have a Great</h2>
            <h2><span>Coffee</span> and <span>Dishes</span></h2>
        </div>
    </div>

     <!-- Header Area -->
    <div class="nav">
        <h1>洋食喫茶　アドロック</h1>
        <h3>Restaurant & Cafe</h3>
        <ul class="nav-links">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Concept</a>
            </li>
            <li>
                <a href="beverage.html">Drink Menu</a>
            </li>
            <li>
                <a href="foods.html">Food Menu</a>
            </li>
            <!-- <li>
                <a href="contact.html">Contact Us</a>
            </li>            -->
        </ul>
    </div>

    <main>
    <!-- About us -->
        <div class="concept"> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, velit. Unde corrupti, eveniet asperiores voluptatibus molestias consequuntur libero! Veritatis totam dolor minima accusamus consectetur labore? Magni aperiam quibusdam repudiandae possimus quas, iusto voluptate rem eos autem, a, earum pariatur. Incidunt, maiores cumque aspernatur minus at corrupti nam reprehenderit sit obcaecati.</p>           
        </div>   
        
        <!-- Menu -->
        <div class="menu">
            <h1>Menu</h1>
            <hr>
            <div class="contents">
                <div class="left">
                    <a href="beverage.html"><h2 class="menu-text">お飲み物</h2></a>
                    <!-- <img src="../img/bev.jpg" height="950px" width="100%" alt="bev"> -->
                </div>
                <div class="right">
                    <a href="#"><h2 class="menu-text">お食事</h2></a>
                    <!-- <img src="../img/ing.jpg"  height="950px" width="100%" alt="ing"> -->
                </div>  
            </div>
        </div>  

        <div class="gallery">
            <div class="gallery-item item1">
                <img src="../img/item1.jpg" alt="item1">
            </div>
            <div class="gallery-item item2">
                <img src="../img/item2.jpg" alt="item2">
            </div>
            <div class="gallery-item item3">
                <img src="../img/item3.jpg" alt="item3">
            </div>
            <div class="gallery-item item4">
                <img src="../img/item4.jpg" alt="item4">
            </div>

        </div>
    </main>

    <!-- Footer Area -->
    <div class="footer">
        <hr>
        <h2>LOCATION</h2>
        <div class="location">
            <p>〒703-8265</p>
            <p>岡山県岡山市中区倉田691-3</p>
            <p>TEL:086-206-7755</p>
            <p>11:00 - 18:00(L.O. 17:30)</p>
            <p>不定休</p>
            <a href="http://instagram.com/yk_addlock?igshid=1rlmk6xr5yrfo" class="fab fa-instagram"></a>
        </div>
    </div>

    
</body>
</html>